body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #ccc;
}

h1, h2 {
    color: #1a2e42;
}

.menu {
    margin-bottom: 20px;
}

.menu a {
    margin-right: 15px;
    text-decoration: none;
    color: #0072be;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: underline;
}  

input, select, textarea {
    margin-bottom: 10px;
    padding: 6px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #48acee;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #72a0bd;
}

.kanban {
    display: flex;
    gap: 20px;
}

.kanban-col {
    flex: 1;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 6px;
}

.task {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.task .actions {
    margin-top: 8px;
}

.success {
    color: rgb(62, 164, 196);
    font-weight: bold;
}

.error {
    color: rgb(0, 26, 255);
    font-weight: bold;
}

.box-cadastro { 
    max-width:340px; 
    margin:60px auto; 
    background:#f7f7f7; 
    border-radius:10px; 
    box-shadow:0 2px 8px #0001; 
    padding:32px 28px; 
}

.box-cadastro label { 
    display:block; 
    margin-bottom:6px; 
    color:#222; 
    font-weight:500; 
}

.box-cadastro input { 
    width:100%; 
    padding:8px 10px; 
    margin-bottom:18px; 
    border:1px solid #bbb; 
    border-radius:4px; 
}

.btn-cadastrar { 
    background:#0c4b57; 
    color:#fff; 
    border:none; 
    padding:10px 0; 
    width:100%; 
    border-radius:4px; 
    font-size:1.1em; 
    cursor:pointer; 
    transition:.2s; 
}

.btn-cadastrar:hover { 
    background:#006bb3; 
}

.alert-sucesso { 
    background:#c8e6c9; 
    color:#27528a; 
    padding:10px; 
    border-radius:4px; 
    margin-bottom:18px; 
    text-align:center; 
}

.alert-erro { 
    background:#ffcdd2; 
    color:#0d587a; 
    padding:10px; 
    border-radius:4px; 
    margin-bottom:18px; 
    text-align:center; 
}