body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}


.container {
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #ccc;
}

h1, h2 {
    color: #1a2e42;
}

.menu {
    margin-bottom: 20px;
}
.menu a {
    margin-right: 15px;
    text-decoration: none;
    color: #0072be;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: underline;
}  

input, select, textarea {
    margin-bottom: 10px;
    padding: 6px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #48acee;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #72a0bd;
}

.kanban {
    display: flex;
    gap: 20px;
}
.kanban-col {
    flex: 1;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 6px;
}
.task {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}
.task .actions {
    margin-top: 8px;
}
.success {
    color: rgb(62, 164, 196);
    font-weight: bold;
}
.error {
    color: rgb(0, 26, 255);
    font-weight: bold;
}